* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.trybewarts-header-logo {
  align-self: stretch;
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  border: 1px rgb(128, 0, 98) solid;
}

div {
  display: flex;
  height: 100%;
  border: 1px green solid;
  justify-content: flex-end;
  order: 1;
}

#trybewarts-forms-logo {
  height: 500px;
  border: 1px red solid;
}
